<!DOCTYPE html>
<html>
<head>
    <title>My Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<nav>
    <h2>🚀 MySite</h2>
    <div>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
    </div>
</nav>

<div class="container">
    <h1>🔥 Welcome Preethy</h1>
    <p>Building my first modern Flask website</p>

    <div class="card">
        <h3>💻 Web Development</h3>
        <p>I am learning Flask + HTML + CSS</p>
        <button>Explore</button>
    </div>

    <div class="card">
        <h3>🚀 My Goal</h3>
        <p>Become a full stack developer</p>
        <button>Start</button>
    </div>
</div>

</body>
</html>